// Colors
$primaryColor: #2a3f56;
$secondaryColor: #607A99;
$primaryTextColor: #686868;
$inputNormal: #e6e6e6;
$inputSelected: #9d9d9d;
$backgroundColor: #f5f5f5;
// Fonts
$primaryFont: 'Open Sans',
sans-serif;
$primaryFontBold: 'Open Sans Bold',
sans-serif;
// Dimensions
$navbarHeight: 70px;
$sidebarWidth: 300px;
$contentSpacing: 30px;