@import "./app.fonts";
@import "./app.bootstrap";
@import "~bootstrap/scss/bootstrap";
$primaryColor: #31475A;
$secondaryColor: #607A99;
$primaryTextColor: #686868;
html,
body,
#root {
	color: $primaryTextColor;
	margin: 0;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
menu,
dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.form-row {
	margin: 20px 0 30px;
	position: relative;
	font-size: 16px;
	&>div {
		width: 100%;
	}
	label {
		pointer-events: none;
		position: absolute;
		top: -16px;
		bottom: 0;
		font-size: 12px;
		width: 100%;
		transition: 0.2s;
		color: $secondaryColor;
	}
	input,
	.input {
		&:not(:focus):not(:valid):not(.open):not(.small-label) {
			::-webkit-input-placeholder {
				color: transparent;
			}
			&~label {
				top: 0;
				font-size: 16px;
			}
		}
		color: $primaryTextColor;
		width: 100%;
		border: none;
		outline: none;
		box-shadow: 0 1px 0 #e6e6e6;
		padding: 6px 0;
		&:focus,
		&.open {
			box-shadow: 0 2px 0 #9d9d9d;
		}
	}
}

table {
	width: 100%;
	white-space: nowrap;
	text-align: left;
	border-spacing: 0;
	td,
	th {
		padding: 10px;
	}
	thead {
		background: $primaryColor;
		color: #fff;
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: #fff;
			}
			&:nth-child(even) {
				background: #efefef;
			}
		}
	}
}