@import "./app.fonts";
$primaryColor: #31475A;
$secondaryColor: #607A99;
$primaryTextColor: #686868;
html,
body,
#root {
	color: $primaryTextColor;
	margin: 0;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
menu,
dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.form-row {
	label {
		width: 100%;
	}
	input {
		color: $primaryTextColor;
		width: 100%;
		border: none;
		outline: none;
		padding: 0.8em;
		background: #f2f2f2;
		&:focus {
			background: #e6e6e6;
		}
		&::-webkit-input-placeholder {
			color: rgba(104, 104, 104, 0.25);
		}
	}
	padding-bottom: 1em;
}

table {
	width: 100%;
	white-space: nowrap;
	text-align: left;
	border-spacing: 0;
	td,
	th {
		padding: 10px;
	}
	thead {
		background: $primaryColor;
		color: #fff;
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: #fff;
			}
			&:nth-child(even) {
				background: #efefef;
			}
		}
	}
}