@import "app.constants.scss";

.content {
    height: 100%;

    .sidebar-container {
        position: fixed;
        top: $navbarHeight;
        bottom: 0;
        left: 0;
    }

    .content-container {
        margin-left: $sidebarWidth;
        padding: $contentSpacing;
    }
}