.sidebar {
    background: #31475A;
    height: 100%;
    color: #607A99;

    ul {
        li {
            list-style: none;
            padding: 1em 2em;
            cursor: pointer;
            user-select: none;
            font-family: 'Open Sans Semibold', sans-serif;

            &.active {
                color: #fff;
                font-family: 'Open Sans Bold', sans-serif;
                font-weight: 800;
            }
        }
    }
}